html {
    background-color: #f8f8f8;
    font-family: sans-serif;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: calc(50vw+50px) calc(50vw-50px);
}

.header {
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    text-align: center;
    grid-row: 1 / 2;
}

.workspace {
    height: 480px;
    grid-row: 2 / 3;
}

#leftdiv {
    width: calc(48vw);
}

#rightdiv {
    width: calc(48vw);
}

.taskButton {
    fill: #5C9FA6;
}

.locationButton {
    fill: #A08260;
}